:root {
  --navy: rgba(0, 27, 68);
  --toggle-size: 14px;
  --gold: #ffb700;
  --form-height: 2.5rem;
}
body {
  position: relative;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-none {
  background: none;
}
.select {
  height: var(--form-height);
  box-sizing: border-box;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  width: 100%;
}
.input {
  height: var(--form-height);
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 15px;
}
.checkbox {
  margin-right: 0.5rem;
}
.btn {
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
}
.shadow-4 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.btn-primary {
  color: black;
  background-color: transparent;
  border: 1px solid black;
  height: 40px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease-in-out;
}
.btn-primary:hover {
  color: white;
  background-color: black;
}
.btn-primary.loading {
  color: white;
  background-color: black;
}
.spin {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.btn-upload {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  height: 38px;
  flex: 1 0 auto;
  cursor: pointer;
}

#file-upload {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;
}

.checkbox-toggle {
  height: var(--toggle-size);
  width: var(--toggle-size);
  border-radius: 100%;
  transition: all 0.3s cubic-bezier(0.33, 1, 0.66, 1);
  left: 2px;
  top: 1px;
}

.checkbox-wrapper {
  width: 32px;
  height: 18px;
  border-radius: 999px;
}
.checkbox:checked + .checkbox-wrapper {
  background-color: var(--navy) !important;
  border-color: var(--navy) !important;
}
.checkbox:checked + .checkbox-wrapper .checkbox-toggle {
  left: 14px;
  background-color: var(--white);
}
.checkbox:checked + {
  background: black;
}
.sidebar {
  width: 100%;
  flex: 1 0 auto;
}
@media screen and (min-width: 60em) {
  .sidebar {
    width: 360px;
  }
}

.results.loading {
  transition: all 0.5s ease-in-out;
  filter: grayscale(1) brightness(3) opacity(0.25);
}

.shake {
  animation-name: shake;
  animation-duration: 200ms;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
