:root {
  --navy: rgba(0, 27, 68);
  --gold: #ffb700;
  --form-height: 2.5rem;
  --dark-gray: #333333;
  --mid-gray: #555555;
  --moon-gray: #cccccc;
  --dark-blue: #0c4ea5;
  --darker-blue: #00449e;
}
body {
  position: relative;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-none {
  background: none;
}
.select {
  height: var(--form-height);
  box-sizing: border-box;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  width: 100%;
}
.input {
  height: var(--form-height);
  box-sizing: border-box;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  font-size: 15px;
}
.btn {
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
}
.shadow-4 {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.shadow-results {
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.03), 0 4px 4px rgba(0, 0, 0, 0.03),
    0 8px 8px rgba(0, 0, 0, 0.03);
}
.btn-icon {
  color: black;
  background-color: transparent;
  border: none;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-download {
  color: var(--dark-gray);
  background-color: transparent;
  border: 1px solid var(--moon-gray);
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  justify-content: center;
  padding: 0.25rem 0.75rem;
  transition: 0.2s all ease-in-out;
}
.btn-download.disabled {
  pointer-events: none;
  opacity: 0.7;
}
.btn-download:hover {
  border: 1px solid var(--mid-gray);
  color: var(--dark-gray);
}
.btn-primary {
  color: white;
  background-color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease-in-out;
}
@media screen and (min-width: 60em) {
  .btn-primary {
    width: auto;
  }
}
.btn-primary:hover {
  color: white;
  background-color: var(--darker-blue);
}
.btn-primary.loading {
  color: white;
  background-color: var(--darker-blue);
}
.spin {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.btn-upload {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  height: 38px;
  flex: 1 0 auto;
  cursor: pointer;
}
#file-upload {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;
}
.hover-b--mid-gray:hover {
  transition: all 0.1s ease-in-out;
  border-color: #555555;
}
.sidebar {
  width: 100%;
  flex: 1 0 auto;
}
@media screen and (min-width: 60em) {
  .sidebar {
    width: 360px;
  }
}
.result.loading {
  transition: all 0.75s ease-in-out;
  filter: grayscale(1) brightness(4) opacity(0.15);
}
.shake {
  animation-name: shake;
  animation-duration: 200ms;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}

.examples .result {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s linear;
}
.examples .result.active {
  opacity: 1;
}
.examples .result:first-child {
  opacity: 1;
  position: static;
}
.br5 {
  border-radius: 2rem;
}
.mt8 {
  margin-top: 20rem;
}
@media screen and (min-width: 60em) {
  .mt8-l {
    margin-top: 20rem;
  }
}
.btn-chevron {
  background: transparent;
  border: none;
}
.page-index {
  width: 6px;
  height: 6px;
}
@media screen and (min-width: 30em) {
  .page-index {
    width: 50px;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-spin {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.34, 1.34);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}

.spinner-spin div > div {
  position: absolute;
  width: 9.44px;
  height: 9.44px;
  border-radius: 50%;
  background: #000000;
  animation: spinner-spin 1s linear infinite;
}
.spinner-spin div:nth-child(1) > div {
  left: 79px;
  top: 54px;
  animation-delay: -0.875s;
}
.spinner-spin > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 83.72px 58.72px;
}
.spinner-spin div:nth-child(2) > div {
  left: 72px;
  top: 72px;
  animation-delay: -0.75s;
}
.spinner-spin > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 76.72px 76.72px;
}
.spinner-spin div:nth-child(3) > div {
  left: 54px;
  top: 79px;
  animation-delay: -0.625s;
}
.spinner-spin > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 58.72px 83.72px;
}
.spinner-spin div:nth-child(4) > div {
  left: 37px;
  top: 72px;
  animation-delay: -0.5s;
}
.spinner-spin > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 41.72px 76.72px;
}
.spinner-spin div:nth-child(5) > div {
  left: 30px;
  top: 54px;
  animation-delay: -0.375s;
}
.spinner-spin > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 34.72px 58.72px;
}
.spinner-spin div:nth-child(6) > div {
  left: 37px;
  top: 37px;
  animation-delay: -0.25s;
}
.spinner-spin > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 41.72px 41.72px;
}
.spinner-spin div:nth-child(7) > div {
  left: 54px;
  top: 30px;
  animation-delay: -0.125s;
}
.spinner-spin > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 58.72px 34.72px;
}
.spinner-spin div:nth-child(8) > div {
  left: 72px;
  top: 37px;
  animation-delay: 0s;
}
.spinner-spin > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 76.72px 41.72px;
}
.loadingio-spinner-spin-wrapper {
  width: 118px;
  height: 118px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.spinner-spin {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.spinner-spin div {
  box-sizing: content-box;
}
