.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s;
}
.checkbox + .toggle:after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius:50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

.checkbox:checked + .toggle:after {
  left : 20px;
}
.checkbox:checked + .toggle {
  background-color: #ff6300;
}
.checkbox {
  display : none;
}

.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  background: grey;
}
.modal {
  position: absolute;
  width: 90%;
  max-height: 90%;
  background: white;
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
}
.modal .cropImage {
  width: 100%;
}